<header class="header header--default">
    <div class="header__logo">
        <a href="/" class="header__logo-link">
            <img src="../../../assets/images/icons/logo.svg" alt="logo" class="header__logo-img">
        </a>
    </div>
</header>