<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/scripts.js"></script>

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Test - cgrd</title>
</head>
<body class="body body--main">
    <div class="wrapper">
        {% include "Components/Header/Default.twig" %}
        {% include "Components/Notification.twig" %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>